<!--<div class="well well-lg table">-->

  <div class="row">
    <div class="col-sm-4">
      <!-- <div class="well"> -->
        <h3>Cards Dealer:</h3>
        <div class="row">
          <% session[:dealer_cards].each do |card| %>
            <% card.each do |suit, card| %>
              <div class="col-xs-2">
                <%= "<img src=\"./images/cards/#{suit.to_s}_#{card.first[0]}.jpg\" class=\"img-rounded card-border img-xs\">" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12">Value <span class="badge"><%= session[:dealer_total] %></span></div>
        </div>
      <!-- </div> -->
    </div>

    <div class="col-sm-4">
    <!-- <div class="well"> -->
      <h3>Cards Player:</h3>
      <div class="row">
        <% session[:player_cards].each do |card| %>
          <% card.each do |suit, card| %>
            <div class="col-xs-2">
              <%= "<img src=\"./images/cards/#{suit.to_s}_#{card.first[0]}.jpg\" class=\"img-rounded card-border  img-xs\">" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-12">Value <span class="badge"><%= session[:player_total] %></span></div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <form id="hit" action="/game/player/hit" method="POST">
            <button class= "btn btn-success btn-large">Hit</button>
          </form>
        </div>

        <div class="col-xs-2">
          <form id="stay" action="/game/player/stay" method="POST">
            <button class= "btn btn-warning btn-large">Stay</button>
          </form>
        </div>
      </div>
    <!-- </div> -->
    </div>
  </div>
<!--</div>-->
